* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.top-navigation {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(62, 60, 60, 1);
  height: 72px;
  position: relative;
}

.logo-placeholder {
  width: 101px;
  height: 44px;
  padding: 10px 12px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  position: absolute;
  left: 12px;
  top: calc(50% - 44px / 2);
}

.normal-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  position: absolute;
  right: 24px;
  top: calc(50% - 40px / 2);
}

.icon-mail {
  display: none;
}

.icon-menu {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.union {
  width: 18px;
  height: 12px;
  position: relative;
}

.vector {
  width: 16px;
  height: 2px;
  background: rgba(255, 255, 255, 1);
  border-radius: 18%;
  display: block;
  position: absolute;
  left: calc(50% - 16px / 2);
}

.vector-bar-1 {
  top: 8.33%;
}

.vector-bar-2 {
  top: calc(50% - 2px / 2);
}

.vector-bar-3 {
  bottom: 8.33%;
}

.item-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  height: 40px;
  position: absolute;
  right: 194px;
  top: calc(50% - 40px / 2);
}

.nav-item {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
}

.page-section {
  width: 100%;
  padding: 100px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.headline-section {
  background: rgba(28, 26, 25, 1);
  background-image: url('../images/illustration-header-mobile.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 280px;
}

.content-text {
  flex: none;
  flex-grow: 0;
  margin: 12px 0;
}

.primary-text {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 54px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: rgba(255, 107, 0, 1);
  order: 0;
}

.supporting-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: rgba(255, 245, 225, 1);
  display: flex;
  align-items: center;
  order: 1;
}

.description-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  order: 2;
}

.social-media-icons {
  list-style: none;
  height: 40px;
  padding: 0;
  margin: 12px 0;
  display: flex;
  align-items: center;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.social-media-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.social-media-icon a {
  display: flex;
  text-decoration: none;
}

.page-section > * {
  flex-grow: 0;
  margin: 12px 0;
}

.page-section .secondary-text {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -1px;
  color: rgba(28, 26, 25, 1);
  order: 0;
}

.page-section .bar-vector {
  width: 100%;
  border: none;
  height: 0.25px;
  background-color: rgba(33, 33, 33, 1);
  order: 1;
}

.page-section .enable-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255, 107, 0, 1);
  border: 1px solid rgba(255, 107, 0, 1);
  padding: 12px;
}

.page-section .enable-button:hover {
  background: rgba(255, 245, 225, 1);
  border: 1px solid rgba(245, 88, 0, 1);
  color: rgba(245, 88, 0, 1);
}

.page-section .enable-button:active {
  background: rgba(224, 83, 4, 1);
  border: 1px solid rgba(224, 83, 4, 1);
  color: rgba(244, 241, 240, 1);
}

.page-section .enable-button:disabled {
  background: rgba(244, 241, 240, 1);
  border: 1px solid rgba(244, 241, 240, 1);
  color: rgba(91, 89, 87, 1);
}

.page-section .works-container {
  width: 100%;
  padding: 0;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.works-container > * {
  width: 100%;
  flex-grow: 0;
  margin: 24px 0;
}

.works-container .post-title {
  font-family: 'Noto Serif', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.works-container .supporting-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(9, 30, 66, 1);
}

.works-container .tags {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}

.works-container .tags p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  border: 1px solid rgba(137, 147, 164, 1);
  padding: 10px 12px;
  margin-right: 10px;
}

.works-container .works-display {
  height: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: 0;
}

.works-container .works-display > * {
  flex-grow: 0;
  margin: 12px 0;
}

.works-container .works-list {
  order: 1;
}

.works-container .works-list > * {
  flex-grow: 0;
}

.works-container .right-block > * {
  flex-grow: 0;
  margin: 6px 0;
}

.works-display .image-placeholder {
  height: 237px;
  width: 100%;
  background-image: url(../images/img-placeholder-display.png);
  background-repeat: no-repeat;
}

.works-display .right-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.works-display .right-block .post-title {
  color: rgba(9, 30, 66, 1);
  order: 0;
}

.works-display .right-block .supporting-text {
  order: 1;
}

.works-display .right-block .tags {
  order: 2;
}

.works-display .post-button {
  order: 3;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(6, 386px);
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 0;
  grid-row-gap: 24px;
  justify-content: space-evenly;
}

.grid-container .grid-item {
  grid-column: 1 / 4;
}

.works-list .work-article {
  height: 386px;
  width: 100%;
  background-image: url(../images/img-placeholder-articles.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.works-list .work-article .right-block {
  padding: 8px 16px;
  order: 0;
}

.works-list .work-article .post-button {
  width: 100%;
  order: 1;
}

.work-article .right-block .post-title {
  color: rgba(255, 255, 255, 1);
  order: 0;
}

.work-article .right-block .supporting-text {
  color: rgba(255, 255, 255, 1);
  order: 1;
}

.work-article .right-block .tags p {
  color: rgba(255, 255, 255, 1);
  background: rgba(255, 255, 255, 0.24);
  border: 0;
  order: 2;
}
